<!DOCTYPE html>
<html>
  <head>
    <title>RmRestaurant</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <%= yield %>
        <h1>
          
          <% if restaurant_employee_signed_in? %>
            <%= link_to("Log out", destroy_restaurant_employee_session_path(current_restaurant_employee), method: 'delete') %>
          <% end %>
        </h1>
        <%= redux_store_hydration_data %>
  </body>
</html>
